* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
    color: #B7B7B7;
}

body {
    background: linear-gradient(90deg, rgba(130, 5, 14, 1), rgba(206, 8, 20, 1), rgba(206, 8, 20, 1));
    padding: 16px;
}

/* Container */

.container {
    max-width: 480px;
    min-height: 800px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: white;
}

/* Navbar */

.navbar {
    padding: 12px;
}

.navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__item__logo img {
    max-height: 48px;
    width: auto;
}

.navbar__item__back {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.navbar__item__back p {
    font-size: 24px;
    align-self: center;
}

.navbar__item__page p {
    font-size: 18px;
}

.navbar__item__back:hover {
    color: #CE0814;
    box-shadow: 0 3px 6px rgba(206, 8, 20, 0.2);
}

/* Progress Bar */

.navbar__progress__full {
    margin-top: 6px;
    height: 12px;
    border-radius: 6px;
    background-color: #E2E2E2;
}

.navbar__progress__completed {
    height: 12px;
    border-radius: 6px;
    background-color: #CE0814;
    margin-top: -12px;
}

#myprogressBar {
    width: 0;
}

/* Form */

#surveyFormCompletato {
    margin-top: 2em;
}

#surveyFormCompletato label {
    font-size: 18px !important;
    color: #707070;
}

#surveyFormCompletato form {
    margin-top: 0;
}

#surveyFormCompletato form input[type="text"] {
    border: solid #cfcfcf 1px;
    padding: 1em;
    border-radius: 5px;
}


#surveyFormCompletato form input[data-name="telefonoe164"] {
    width: 100% !important;
    padding: 1.5em 50px;
}

#surveyFormCompletato form input[name="phone"],
#surveyFormCompletato form label[for="phone"] {
    display: none !important;
}

.iti--allow-dropdown {
    width: 100%;
}
#surveyFormCompletato form button#_form_364_submit,
#surveyFormCompletato form button#_form_366_submit {
    background-color: #2da800 !important;
    border-radius: 10px !important;
    width: 100%;
    font-size: 1.6em;
}

#surveyFormCompletato .policyprivacy {
    text-align: center;
}

/* Titolo */

.sv-container-modern__title {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

h5 span,
#form_headline_form {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #707070;
    text-align: center;
    margin-bottom: 20px;
}

#sq_103 h5 span,
#sq_104 h5 span,
#sq_105 h5 span,
#sq_106 h5 span {
    width: 75%;
    text-align: left;
}

/* Radio */

.sv-radio {
    font-size: 21px;
    color: #B7B7B7;
    margin-bottom: 24px !important;
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
    max-width: 65%;
}

.sv-radio {
    font-size: 16px;
}

.sv-radio b {
    display: block;
    text-align: left;
    font-size: 18px;
    padding-bottom: 12px;
    color: #838383;
}

#sp_103 {
    background-image: url("../images/FitnessGirl-1.jpg");
    background-size: cover;
    background-position: bottom right;
    min-height: 600px;
}

#sp_104 {
    background-image: url("../images/FitnessGirl-2.jpg");
    background-size: cover;
    background-position: bottom right;
    min-height: 550px;
}

#sp_105 {
    background-image: url("../images/FitnessGirl-3.jpg");
    background-size: cover;
    background-position: bottom right;
    min-height: 550px;
}

#sp_106 {
    background-image: url("../images/FitnessGirl-4.jpg");
    background-size: cover;
    background-position: bottom right;
    min-height: 550px;
}

#sp_109 {
    background-image: url("../images/Sfondo-Uomo-3.jpg");
    background-size: cover;
    background-position: center right;
    min-height: 550px;
}

#sp_110 {
    background-image: url("../images/Sfondo-Uomo-4.jpg");
    background-size: cover;
    background-position: top right;
    min-height: 550px;
}

#sp_111 {
    background-image: url("../images/Sfondo-Uomo-5.jpg");
    background-size: cover;
    background-position: center right;
    min-height: 550px;
}

.FitnessGirl30 #sp_103 {
    background-image: url("../images/FitnessGirl30-1.jpg");
}

.FitnessGirl30 #sp_104 {
    background-image: url("../images/FitnessGirl30-2.jpg");
}

.FitnessGirl30 #sp_105 {
    background-image: url("../images/FitnessGirl30-3.jpg");
}

.FitnessGirl30 #sp_106 {
    background-image: url("../images/FitnessGirl30-4.jpg");
}

label.sv-selectbase__label {
    margin-left: 0;
}

label .sv-radio__decorator {
    display: none;
}


/* Image Picker */
#sp_100 fieldset.sv-imagepicker {
    display: flex;
    flex-wrap: nowrap;
}

#sp_100 .sv-imagepicker label div {
    aspect-ratio: 1;
}

#sp_100 .sv-imagepicker img {
    height: 100%;
    width: inherit !important;
}

#sp_100 .sv-imagepicker__image {
    border-radius: 10px;
}

.sv-imagepicker div {
    width: 100%;
    margin-bottom: 0;
}

.sv-imagepicker label div {
    margin-bottom: 0;
    padding: 0;
    border-radius: 12px;
    aspect-ratio: 3/1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #282828;
    font-size: 30px;
    font-weight: 700;
}

#sp_100 fieldset,
#sp_102 fieldset,
#sp_108 fieldset{
    border-radius: 15px;

    margin: 0 auto;
}

#sp_100 fieldset .sv-imagepicker__item,
#sp_102 fieldset .sv-imagepicker__item,
#sp_108 fieldset .sv-imagepicker__item{
    border-radius: 15px;
    margin: 0 auto;
}

#sp_100 .sv-imagepicker img,
#sp_102 .sv-imagepicker img,
#sp_108 .sv-imagepicker img {
    width: 300px;
}

#sp_100 .sv-imagepicker label div,
#sp_102 .sv-imagepicker label div,
#sp_108 .sv-imagepicker label div {
    justify-content: center;
    background-color: #000000;
}

#sp_100 .sv-imagepicker label div .sv-imagepicker__text,
#sp_102 .sv-imagepicker label div .sv-imagepicker__text,
#sp_108 .sv-imagepicker label div .sv-imagepicker__text {
    display: none;
}

.sv-imagepicker__image {
    border: none !important;
    object-fit: cover !important;
    border-radius: 10px 0 0 10px;
}

.sv-imagepicker__text {
    font-size: 18px !important;
    padding: 10px;
    display: inline-flex;
    min-width: 49%;
}

.sv-radio span {
    color: #959595;
}


/* Content */

.sv-root-modern .sv-question__title--answer {
    background-color: rgba(255, 255, 255) !important;
}

.sv-root-modern .sv-container-modern {
    color: rgb(59, 74, 100);
}


/* Quiz completato */

.sv-root-modern .sv-completedpage {
    background-color: rgb(255, 255, 255) !important;
    padding-top: 60px;
    padding-bottom: 100px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-top: 40px;
}


/* Footer */

.footer {
    margin-top: 100px;
    color: #949494;
    font-size: 12px;
}

.privacy, .copy {
    text-align: center;
}

.privacy a {
    color: #cccccc;
    padding: 10px 0 10px 0;
    display: inline-block;
}

.sv-root-modern ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #9f9f9f;
}

.sv-root-modern ::-webkit-scrollbar {
    background-color: rgb(255, 255, 255) !important;
}

.sv-root-modern ::-webkit-scrollbar-thumb {
    background: #ffffff !important;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    #sp_102 {
        background-position: bottom right;
        min-height: 600px;
    }

    #sp_103 {
        background-position: bottom right;
        min-height: 550px;
    }

    #sp_104 {
        background-position: bottom right;
        min-height: 550px;
    }

    #sp_105 {
        background-position: bottom right;
        min-height: 600px;
    }
}

@media screen and (min-width: 501px) {
    #sp_102 {
        background-position: bottom right;
        min-height: 730px;
    }

    #sp_103 {
        background-position: bottom right;
        min-height: 730px;
    }

    #sp_104 {
        background-position: bottom right;
        min-height: 730px;
    }

    #sp_105 {
        background-position: bottom right;
        min-height: 730px;
    }
}

@media screen and (max-width: 450px) {
#sp_112 .sv-imagepicker__image {
    max-width: 100px;
    max-height: 75px;
}
}
